<h1>Crear Autor</h1>
<h2>{{mensaje}}</h2>
Name: {{input value=name}} <br>
Date of birth: {{input value=dateOfBirth type='date'}} <br>
Date of death: {{input value=dateOfDeath type='date'}} <br>
<button type="button" name="button"{{action 'save'}}>Save</button>
{{outlet}}
