<h1>New chapter</h1>
<h2>{{mensaje}}</h2>
Title: {{input value=title}} <br>
Order chapter: {{input value=ordering type='number'}} <br>
<button type="button" name="button"{{action 'create'}}>Save</button>
{{outlet}}
