<h1>New book</h1>
<h2>{{mensaje}}</h2>
Title: {{input value=title}} <br>
Date of Publish: {{input value=datePublished type='date'}} <br>
<button type="button" name="button"{{action 'create'}}>Save</button>
{{outlet}}
