<hr>
<form {{action 'update' on="submit" }}>
  <strong>Name: </strong>{{input value=model.name}}
  <!-- <strong>Date of Birth: </strong> {{input type='date' value=model.dateOfBirth}}
  <strong>Date of Death: </strong> {{input type='date' value=model.dateOfDeath}} -->
  <br>
  <button>Update</button>
</form>
{{outlet}}
