<h1>Register author</h1>
{{#link-to 'author.create' type='button'}} Registrer {{/link-to}}
<h1>Authors</h1>
<table class="table">
  <thead>
    <tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Date of Death</th>
    <th>Total Books</th>
    <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |author|}}
      <tr>
      <td>{{#link-to 'authors.id' author.id}} {{author.name}} {{/link-to}}</td>
      <td>{{author.dateOfBirth}}</td>
      <td>{{author.dateOfDeath}}</td>
      <td>{{author.books.length}}</td>
      <td><button type="button" name="button"{{action 'delete' author.id}}>Delete</button></td>
      <td>{{#link-to 'authors.id.update' author.id}}Update{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


{{outlet}}
