<!-- {{#each model.people as |person|}}
  <p class="salutate">
    Hello {{if person.isFemale 'Miss.' 'Mr.'}} {{person.name}}
  </p>
{{/each}} -->

<!-- {{#each model.people as |person|}}
  <p class="salutate">
    Hello
    {{#if person.isFemale}}
      <strong>Miss.</strong>
    {{else}}
      <small>Mr.</small>
    {{/if}}
    esta linea estaba 2 coment {{person.name}} -->
    <!-- {{#link-to 'people.person' person.id}}
      {{person.name}}
    {{/link-to}} -->

  <!-- </p>
{{/each}} -->


<ul>
  {{#each model.people as |person|}}
    <li class="salutate">
      {{#link-to 'people.person' person.id}}
        Hello {{person.name}}
      {{/link-to}}
    </li>
  {{/each}}
  <li class="salutate">
  <a href="#" {{action 'incrementSalary'}}>Increment salary</a> </li>
</ul>



{{outlet}}

The total salary is {{totalSalary}}
